@{
  string firstNameId = "contact-first-name";
  string lastNameId = "contact-last-name";
  string streetAddressId = "contact-street-address";
  string cityId = "contact-city";
  string stateId = "contact-state";
  string zipCodeId = "contact-zip-code";
  string phoneNumberId = "contact-phone-number";
}

<form action="/contacts/add" method="post">
  <div class="form-group">
    <label class="form-label" for="@firstNameId">First Name:</label>
    <input class="form-control" type="text" id="@firstNameId" name="@firstNameId" autofocus>
  </div>
  <div class="form-group">
    <label class="form-label" for="@lastNameId">Last Name:</label>
    <input class="form-control" type="text" id="@lastNameId" name="@lastNameId">
  </div>
  <div class="form-group">
    <label class="form-label" for="@phoneNumberId">Phone Number:</label>
    <input class="form-control" type="text" id="@phoneNumberId" name="@phoneNumberId">
  </div>
  <div class="form-group">
    <label class="form-label" for="@streetAddressId">Street:</label>
    <input class="form-control" type="text" id="@streetAddressId" name="@streetAddressId">
  </div>
  <div class="form-group">
    <label class="form-label" for="@cityId">City:</label>
    <input class="form-control" type="text" id="@cityId" name="@cityId">
  </div>
  <div class="form-group">
    <label class="form-label" for="@stateId">State:</label>
    <input class="form-control" type="text" id="@stateId" name="@stateId">
  </div>
  <div class="form-group">
    <label class="form-label" for="@zipCodeId">Zip Code:</label>
    <input class="form-control" type="text" id="@zipCodeId" name="@zipCodeId">
  </div>
  <button class="btn btn-info" type="submit" name="add-contact-button">Add!</button>
</form>
