@using AddressBook.Models.PageData;
@using AddressBook.Models.ContactData;
@model IndexModel

@{
  Layout = "_Layout";
}

<div class="container">
  <div class="jumbotron">
    <h1>Address Book</h1>
  </div>
  @Html.Partial("ContactListAlerts")

  <div class="row">
    <div class="col-xs-8">
      <div class="well">
        @Html.Partial("ContactList", @Model.Contacts)

        <button class="btn btn-info" type="button" name="add-contact-button" data-toggle="modal" data-target="#new-contact-modal">Add Contact</button>
        @if(@Model.Contacts.Count > 0)
        {
          <button class="btn btn-danger" type="button" name="clear-button" data-toggle="modal" data-target="#clear-confirmation-modal">Clear All</button>
        }
      </div>
    </div>
    <div class="col-xs-4">
      @if (@Model.FocusedContact != null)
      {
        <div class="well">
          @Html.Partial("ContactDetails", @Model.FocusedContact)
        </div>
      }
    </div>
  </div>
</div>

@Html.Partial("Modals/ClearConfirmationModal")
@Html.Partial("Modals/NewContactModal")
